<po-page-default p-title="Precificação - Transporte de Valores">
  <po-tabs>
    <po-tab p-label="Parâmetros" [p-active]="true">
      <div class="pricing-grid">
        <po-container class="span-12" p-title="Dados mestres do ERP">
          <div class="info-grid">
            <po-info
              p-label="Cliente ERP"
              p-value="PROTEGE TRANSPORTE DE VALORES"
            ></po-info>
            <po-info
              p-label="Estabelecimento"
              [p-value]="selectedBase.erpBranch"
            ></po-info>
            <po-info
              p-label="Regime tributário"
              [p-value]="selectedBase.taxRegime"
            ></po-info>
            <po-select
              name="selectedBase"
              p-label="Base de atendimento"
              [p-options]="baseOptions"
              [ngModel]="selectedBaseId"
              (ngModelChange)="selectedBaseId = $event"
            ></po-select>
          </div>
          <div class="actions-row">
            <po-button
              p-icon="an an-arrows-clockwise"
              p-label="Sincronizar ERP"
              (p-click)="synchronizeErp()"
            ></po-button>
            <span>{{ syncStatus }}</span>
          </div>
        </po-container>

        <po-container class="span-12" p-title="Custo padrão por veículo e base">
          <po-table
            [p-columns]="costColumns"
            [p-items]="costItems"
            [p-hide-table-search]="true"
            [p-sort]="true"
          ></po-table>
        </po-container>

        <po-container class="span-6" p-title="Impostos interestaduais">
          <div class="info-grid compact">
            <po-info p-label="UF origem" [p-value]="selectedBase.uf"></po-info>
            <po-info
              p-label="UF destino exemplo"
              p-value="RJ / MG / RS"
            ></po-info>
            <po-info
              p-label="PIS/COFINS"
              [p-value]="formatPercent(parameters.pisCofinsRate)"
            ></po-info>
            <po-info
              p-label="ICMS simplificado"
              p-value="7,00% ou 12,00%"
            ></po-info>
          </div>
        </po-container>

        <po-container class="span-6 po-mb-3" p-title="Parâmetros comerciais">
          <div class="form-grid">
            <po-input
              name="operationalExpensesRate"
              p-label="Despesas operacionais"
              p-help="Informe 14 ou 0,14"
              [ngModel]="parameters.operationalExpensesRate"
              (ngModelChange)="
                parameters.operationalExpensesRate = $event; onParameterChange()
              "
            ></po-input>
            <po-input
              name="indirectExpensesRate"
              p-label="Despesas indiretas"
              p-help="Informe 14,1 ou 0,141"
              [ngModel]="parameters.indirectExpensesRate"
              (ngModelChange)="
                parameters.indirectExpensesRate = $event; onParameterChange()
              "
            ></po-input>
            <po-input
              name="targetMarginRate"
              p-label="Margem/EBITDA alvo"
              p-help="Informe 8 ou 0,08"
              [ngModel]="parameters.targetMarginRate"
              (ngModelChange)="
                parameters.targetMarginRate = $event; onParameterChange()
              "
            ></po-input>
            <po-input
              name="pisCofinsRate"
              p-label="PIS/COFINS"
              p-help="Lucro Presumido"
              [ngModel]="parameters.pisCofinsRate"
              (ngModelChange)="
                parameters.pisCofinsRate = $event; onParameterChange()
              "
            ></po-input>
          </div>
          <div class="actions-row end">
            <po-button
              p-kind="primary"
              p-label="Salvar parâmetros"
              (p-click)="saveParameters()"
            ></po-button>
          </div>
        </po-container>
      </div>
    </po-tab>

    <po-tab p-label="Simulação">
      <div class="pricing-grid simulation-grid">
        <po-container class="span-8" p-title="Condição operacional">
          <po-radio-group
            name="operationMode"
            p-label="Tipo de operação"
            [p-options]="operationOptions"
            [ngModel]="simulation.operationMode"
            (ngModelChange)="simulation.operationMode = $event; recalculate()"
          ></po-radio-group>

          <div class="form-grid">
            <po-select
              name="simulationBase"
              p-label="Base de atendimento"
              [p-options]="baseOptions"
              [ngModel]="simulation.baseId"
              (ngModelChange)="simulation.baseId = $event; onBaseChange()"
            ></po-select>
            <po-select
              name="uf"
              p-label="UF operação"
              [p-options]="ufOptions"
              [ngModel]="simulation.uf"
              (ngModelChange)="simulation.uf = $event; recalculate()"
            ></po-select>
            <po-select
              name="destinationUf"
              p-label="UF destino"
              [p-options]="ufOptions"
              [ngModel]="simulation.destinationUf"
              (ngModelChange)="simulation.destinationUf = $event; recalculate()"
            ></po-select>
          </div>

          <ng-container
            *ngIf="
              simulation.operationMode === 'transport';
              else processingForm
            "
          >
            <po-radio-group
              name="transportCostOrigin"
              p-label="Origem do custo"
              [p-options]="costOriginOptions"
              [ngModel]="simulation.transportCostOrigin"
              (ngModelChange)="
                simulation.transportCostOrigin = $event; recalculate()
              "
            ></po-radio-group>

            <div class="form-grid">
              <po-input
                name="city"
                p-label="Cidade"
                [ngModel]="simulation.city"
                (ngModelChange)="simulation.city = $event; recalculate()"
              ></po-input>
              <po-select
                name="pointType"
                p-label="Tipo de ponto"
                [p-options]="pointTypeOptions"
                [ngModel]="simulation.pointType"
                (ngModelChange)="simulation.pointType = $event; recalculate()"
              ></po-select>
              <po-select
                name="vehicle"
                p-label="Tipo de veículo"
                [p-options]="vehicleOptions"
                [ngModel]="simulation.vehicle"
                (ngModelChange)="simulation.vehicle = $event; recalculate()"
              ></po-select>
              <po-select
                name="routeType"
                p-label="Tipo de rota"
                [p-options]="routeTypeOptions"
                [ngModel]="simulation.routeType"
                (ngModelChange)="simulation.routeType = $event; recalculate()"
              ></po-select>
              <po-select
                name="taxOperation"
                p-label="Tributação"
                [p-options]="taxOperationOptions"
                [ngModel]="simulation.taxOperation"
                (ngModelChange)="
                  simulation.taxOperation = $event; recalculate()
                "
              ></po-select>
              <po-input
                name="quantity"
                p-label="Atendimentos/mês"
                [ngModel]="simulation.quantity"
                (ngModelChange)="simulation.quantity = $event; recalculate()"
              ></po-input>
              <po-input
                name="otherCosts"
                p-label="Pedágio/estadia/outros"
                [ngModel]="simulation.otherCosts"
                (ngModelChange)="simulation.otherCosts = $event; recalculate()"
              ></po-input>
            </div>

            <div
              class="form-grid sop-grid"
              *ngIf="simulation.transportCostOrigin === 'SOP'"
            >
              <po-input
                name="km"
                p-label="KM deslocamento"
                [ngModel]="simulation.km"
                (ngModelChange)="simulation.km = $event; recalculate()"
              ></po-input>
              <po-input
                name="normalHours"
                p-label="Horas normais"
                [ngModel]="simulation.normalHours"
                (ngModelChange)="simulation.normalHours = $event; recalculate()"
              ></po-input>
              <po-input
                name="overtime50Hours"
                p-label="Horas extra 50%"
                [ngModel]="simulation.overtime50Hours"
                (ngModelChange)="
                  simulation.overtime50Hours = $event; recalculate()
                "
              ></po-input>
              <po-input
                name="overtime100Hours"
                p-label="Horas extra 100%"
                [ngModel]="simulation.overtime100Hours"
                (ngModelChange)="
                  simulation.overtime100Hours = $event; recalculate()
                "
              ></po-input>
            </div>
          </ng-container>

          <ng-template #processingForm>
            <div class="form-grid">
              <po-select
                name="processingType"
                p-label="Tipo de processamento"
                [p-options]="processingTypeOptions"
                [ngModel]="simulation.processingType"
                (ngModelChange)="
                  simulation.processingType = $event; recalculate()
                "
              ></po-select>
              <po-input
                name="thousandsVolume"
                p-label="Volume de milheiros"
                [ngModel]="simulation.thousandsVolume"
                (ngModelChange)="
                  simulation.thousandsVolume = $event; recalculate()
                "
              ></po-input>
            </div>
            <po-table
              class="compact-table"
              [p-columns]="processingColumns"
              [p-items]="processingItems"
              [p-hide-table-search]="true"
            ></po-table>
          </ng-template>

          <p class="warning" *ngIf="result.warning">{{ result.warning }}</p>
        </po-container>

        <aside class="span-4 result-panel">
          <div class="metric primary">
            <span>{{ formatCurrency(result.finalPrice) }}</span>
            <small>Preço unitário</small>
          </div>
          <div class="metric">
            <span>{{ formatCurrency(result.monthlyPrice) }}</span>
            <small>Preço mensal por {{ monthlyLabel }}</small>
          </div>
          <div class="metric">
            <span>{{ formatPercent(result.ebitdaRate) }}</span>
            <small>EBITDA alvo</small>
          </div>

          <po-container p-title="DRE unitária">
            <div class="dre-row">
              <span>Custo total</span>
              <strong>{{ formatCurrency(result.costTotal) }}</strong>
            </div>
            <div class="dre-row">
              <span>Despesas operacionais</span>
              <strong>{{ formatCurrency(result.operationalExpenses) }}</strong>
            </div>
            <div class="dre-row">
              <span>Despesas indiretas</span>
              <strong>{{ formatCurrency(result.indirectExpenses) }}</strong>
            </div>
            <div class="dre-row">
              <span>Margem</span>
              <strong>{{ formatCurrency(result.margin) }}</strong>
            </div>
            <div class="dre-row">
              <span>Preço líquido</span>
              <strong>{{ formatCurrency(result.netPrice) }}</strong>
            </div>
            <div class="dre-row">
              <span>Impostos {{ formatPercent(result.taxRate) }}</span>
              <strong>{{ formatCurrency(result.taxes) }}</strong>
            </div>
            <div class="dre-row total">
              <span>Preço final</span>
              <strong>{{ formatCurrency(result.finalPrice) }}</strong>
            </div>
          </po-container>
        </aside>
      </div>
    </po-tab>
  </po-tabs>
</po-page-default>
