<po-page-default p-title="Precificação - Parâmetros">
  <div class="pricing-grid">
    <po-container class="span-12" p-title="Dados mestres do ERP">
      <div class="info-grid">
        <po-info
          p-label="Cliente ERP"
          p-value="PROTEGE TRANSPORTE DE VALORES"
        ></po-info>
        <po-info
          p-label="Estabelecimento"
          [p-value]="selectedBase.erpBranch"
        ></po-info>
        <po-info
          p-label="Regime tributário"
          [p-value]="selectedBase.taxRegime"
        ></po-info>
        <po-select
          name="selectedBase"
          p-label="Base de atendimento"
          [p-options]="baseOptions"
          [ngModel]="selectedBaseId"
          (ngModelChange)="onBaseChange($event)"
        ></po-select>
      </div>
      <div class="actions-row">
        <po-button
          p-icon="an an-arrows-clockwise"
          p-label="Sincronizar ERP"
          (p-click)="synchronizeErp()"
        ></po-button>
        <span>{{ syncStatus }}</span>
      </div>
    </po-container>

    <po-container class="span-12" p-title="Custo padrão por veículo e base">
      <po-table
        [p-columns]="costColumns"
        [p-items]="costItems"
        [p-actions]="costActions"
        [p-hide-table-search]="true"
        [p-sort]="true"
      ></po-table>
    </po-container>

    <po-container class="span-12" p-title="Custo padrão de processamento">
      <po-table
        [p-columns]="processingColumns"
        [p-items]="processingItems"
        [p-actions]="processingActions"
        [p-hide-table-search]="true"
        [p-sort]="true"
      ></po-table>
    </po-container>

    <po-container class="span-6" p-title="Impostos interestaduais">
      <div class="info-grid compact">
        <po-info p-label="UF origem" [p-value]="selectedBase.uf"></po-info>
        <po-info p-label="UF destino exemplo" p-value="RJ / MG / RS"></po-info>
        <po-info
          p-label="PIS/COFINS"
          [p-value]="formatPercent(parameters.pisCofinsRate)"
        ></po-info>
        <po-info p-label="ICMS simplificado" p-value="7,00% ou 12,00%"></po-info>
      </div>
    </po-container>

    <po-container class="span-6 po-mb-3" p-title="Parâmetros comerciais">
      <div class="form-grid">
        <po-input
          name="operationalExpensesRate"
          p-label="Despesas operacionais"
          p-help="Informe 14 ou 0,14"
          [ngModel]="parameters.operationalExpensesRate"
          (ngModelChange)="parameters.operationalExpensesRate = $event; onParameterChange()"
        ></po-input>
        <po-input
          name="indirectExpensesRate"
          p-label="Despesas indiretas"
          p-help="Informe 14,1 ou 0,141"
          [ngModel]="parameters.indirectExpensesRate"
          (ngModelChange)="parameters.indirectExpensesRate = $event; onParameterChange()"
        ></po-input>
        <po-input
          name="targetMarginRate"
          p-label="Margem/EBITDA alvo"
          p-help="Informe 8 ou 0,08"
          [ngModel]="parameters.targetMarginRate"
          (ngModelChange)="parameters.targetMarginRate = $event; onParameterChange()"
        ></po-input>
        <po-input
          name="pisCofinsRate"
          p-label="PIS/COFINS"
          p-help="Lucro Presumido"
          [ngModel]="parameters.pisCofinsRate"
          (ngModelChange)="parameters.pisCofinsRate = $event; onParameterChange()"
        ></po-input>
      </div>
      <div class="actions-row end">
        <po-button
          p-kind="primary"
          p-label="Salvar parâmetros"
          (p-click)="saveParameters()"
        ></po-button>
      </div>
    </po-container>
  </div>

  <po-modal
    #costEditModal
    [p-title]="editMode === 'vehicle' ? 'Editar custo por veiculo' : 'Editar custo de processamento'"
  >
    <ng-container *ngIf="editMode === 'vehicle' && vehicleEditModel">
      <div class="form-grid">
        <po-info p-label="Base" [p-value]="getBaseName(vehicleEditModel.baseId)"></po-info>
        <po-info p-label="Veiculo" [p-value]="vehicleEditModel.vehicle"></po-info>
        <po-input
          name="normalHour"
          p-label="Hora normal"
          p-type="number"
          [(ngModel)]="vehicleEditModel.normalHour"
        ></po-input>
        <po-input
          name="overtime50"
          p-label="HE 50%"
          p-type="number"
          [(ngModel)]="vehicleEditModel.overtime50"
        ></po-input>
        <po-input
          name="overtime100"
          p-label="HE 100%"
          p-type="number"
          [(ngModel)]="vehicleEditModel.overtime100"
        ></po-input>
        <po-input
          name="fixedCostPerHour"
          p-label="Fixo veiculo/h"
          p-type="number"
          [(ngModel)]="vehicleEditModel.fixedCostPerHour"
        ></po-input>
        <po-input
          name="variableCostPerKm"
          p-label="Variavel/km"
          p-type="number"
          [(ngModel)]="vehicleEditModel.variableCostPerKm"
        ></po-input>
        <po-input
          name="vehicleIssRate"
          p-label="ISS"
          p-help="Informe 5 ou 0,05"
          p-type="number"
          [(ngModel)]="vehicleEditModel.issRate"
        ></po-input>
        <po-input
          name="vehicleIcmsRate"
          p-label="ICMS"
          p-help="Informe 12 ou 0,12"
          p-type="number"
          [(ngModel)]="vehicleEditModel.icmsRate"
        ></po-input>
      </div>
    </ng-container>

    <ng-container *ngIf="editMode === 'processing' && processingEditModel">
      <div class="form-grid">
        <po-info p-label="Base" [p-value]="getBaseName(processingEditModel.baseId)"></po-info>
        <po-info p-label="Tipo" [p-value]="processingEditModel.type"></po-info>
        <po-input
          name="costPerThousand"
          p-label="Custo/milheiro"
          p-type="number"
          [(ngModel)]="processingEditModel.costPerThousand"
        ></po-input>
        <po-input
          name="processingIssRate"
          p-label="ISS"
          p-help="Informe 5 ou 0,05"
          p-type="number"
          [(ngModel)]="processingEditModel.issRate"
        ></po-input>
      </div>
    </ng-container>

    <po-modal-footer>
      <po-button p-label="Cancelar" (p-click)="cancelCostEdit()"></po-button>
      <po-button
        p-kind="primary"
        p-label="Salvar"
        (p-click)="saveCostEdit()"
      ></po-button>
    </po-modal-footer>
  </po-modal>
</po-page-default>
